:root {
    --font-color: #333;
    --bg-color: #f2f2f2;
    --color-white: #FFF;
    --shadow-color: rgba(0,0,0,0.5);
}

* {
    box-sizing: border-box;
    color: var(--font-color)
}

body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    margin:0;
    padding: 14px;
}
header {
    background-color: var(--color-white);
    height: auto;
    grid-column-start: 1;
    grid-column-end:1;
    -webkit-box-shadow: 4px 4px 4px 0 var(--shadow-color);
    -moz-box-shadow: 4px 4px 4px 0 var(--shadow-color);
    box-shadow: 4px 4px 4px 0 var(--shadow-color);
}

header h1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    height: 100%;
}

.item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    height: auto;
    min-height: 160px;
    -webkit-box-shadow: 4px 4px 4px 0 var(--shadow-color);
    -moz-box-shadow: 4px 4px 4px 0 var(--shadow-color);
    box-shadow: 4px 4px 4px 0 var(--shadow-color);
}

.item pre {
    font-size: 12px;
    word-break: break-word;
    -ms-word-wrap: break-word;
    white-space: pre-wrap;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    header {
        grid-column-start: 1;
        grid-column-end:3;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    header {
        grid-column-start: 1;
        grid-column-end:3;
    }
}
