* {
    font-family: 'Roboto', sans-serif;
    box-sizing:  border-box;
    list-style: none;
}

body {
    margin:0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
}

header h1 {
    margin:0;
}

header h2{
    margin: 8px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
    padding: 0 64px;;
}

button{
    width: 70%;
    height: 32px;
    border-radius: 5px;
    background-color: #2171b5;
    color:white;
    cursor: pointer;
}

#map {
    width: 70%;
    height: 454px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    z-index: 2;
}


.subunit {
    stroke: #000;
    stroke-linejoin: round;
}

.subunit-boundary {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
}

.tooltip {
    top:0;
    position: absolute;
    text-align: center;
    width: 160px;
    height: auto;
    padding: 8px;
    background: black;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    z-index:3;
    box-sizing: border-box;
}
.tooltip p {
    margin: 0;
    padding: 0;
}
.tooltip .tooltip-title{
    font: 16px sans-serif;
    color:white;
}

.tooltip .tooltip-content {
    font: 14px sans-serif;
    color:white;
}

.Canarias {
    transform: translate(16%, -72%);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 64px;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}