body {
    margin:0;
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    align-content: center;
    justify-content: center;
}
.subunit {
    stroke: #000;
    stroke-linejoin: round;
}
.subunit-boundary {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
}
.states {
    fill: #aaa;
    stroke: #000;
    stroke-width: 0.75px;
}

#map {
    width: 70%;
    height: 470px;
    margin: auto;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: auto;
    padding: 10px;
    color:white;
    font: 16px sans-serif;
    background: black;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    z-index:1;
}

.Canarias {
    transform: translate(15%, -63%);
}

@media (max-width: 600px) {
    .Canarias {
        transform: translate(67%, -25%);
    }
}