.subunit {
    stroke: #000;
    stroke-linejoin: round;
}
.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: auto;
    padding: 10px;
    color:white;
    font: 16px sans-serif;
    background: black;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}